@model IEnumerable<UniProfileModel>

  @* <form id="form1">
        <input type="search" id="search" name=""placeholder="Search..." />
        <button>Search</button>
    </form>*@
    <body class="UniProfiles">
        <br />
<div class="Profiles">
    <br />
    @foreach(var obj in Model){

    <div class="Profilecontainer">
            
                <div>
                    <img id="PreviewPhoto" src="~/profilepics/@obj.ProfilPic_URL" alt="Logo Image" />
                </div>

            <br>
            <h3>@obj.UniShortname</h3>
          @*  <br>
           
            @obj.UniDetails

        <br>*@
            <br>
        <a asp-controller="UniProfile" asp-action="Details" asp-route-id="@obj.UserId" class="buttons1">Visit </a>
        </div>
        <br>
        
    }        </div>

</body>