@model UniProfileModel
<body class="bgP">
    <br />
    <br />
<div class="col-10 mx-auto pt-0">
    
    <div class="card">
        <div class="card-header bg-secondary text-uppercase text-white text-center">
            <h5>Create profile</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create" enctype="multipart/form-data" onsubmit="return ValidateForm()">
                <div class="btn-group">
                    <div class="col-3 row">
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <input type="hidden" asp-for="ProfilPic_URL" id="ProfilPic_URL" value="Error" />
                        <div class="form-group col-4 justify-content-around align-middle mb-0 pb-0">
                            <img id="PreviewPhoto" src="~/profilepics/noimage.png" alt="Logo Image"  />
                        </div>
                        @*<div class="form-group col-2 pt-0 mt-0">
                        </div>*@
                        <div class="form-group col-8 pt-0 mt-0">


                            <div class="custom-file">
                                <input asp-for="UploadedProfilePic" class="custom-file-input" id="UploadedProfilePic" />
                                @*onchange="document.getElementById('PreviewPhoto').src=window.URL.createObjectURL(this.files[0])" />*@

                                <label class="custom-file-label" for="UploadedProfilePic" id=" UploadedProfilePicCaption">Browse</label> @*for disply picture*@
                              @*  <span asp-validation-for="UploadedProfilePic" class="text-danger"></span>*@
                            </div>
                        </div>

                    </div>
                    <div class="col-4 row"></div>
                    <div class=" col-10 row">
                        <div class=" col-14 ">
                            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div class="form-group">
                                <label asp-for="UniFullname" class="controll-lable"></label>
                              
                                <input asp-for="UniFullname" class="form-control" />
@*                                <span asp-validation-for="UniFullname" class="text-danger"></span>*@
                            </div>

                        </div>
                        <div class="col-13">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="UniShortname" class="controll-lable"></label>
                                <input asp-for="UniShortname" class="form-control" />
                               @* <span asp-validation-for="UniShortname" class="text-danger"></span>*@
                            </div>
                        </div>
                        <div class=" col-13">
                            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div class="form-group">
                                <label asp-for="UniDetails" class="controll-lable"></label>
                                <input asp-for="UniDetails" class="form-control" />
                              @*  <span asp-validation-for="UniDetails" class="text-danger"></span>*@
                            </div>

                        </div>
                       @* <div class=" col-8">
                           
                            <div class="form-group">
                                <label asp-for="UniFacultyModel.Faculty_Name" class="controll-lable"></label>
                                <input asp-for="UniFacultyModel.Faculty_Name" class="form-control" />
                                <span asp-validation-for="UniFacultyModel.Faculty_Name" class="text-danger"></span>
                            </div>

                        </div>*@
                        <div class=" col-8" hidden>
                            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div class="form-group" >
                                <label asp-for="UserId" class="controll-lable"></label>
                                <input asp-for="UserId" value="@(ViewBag.userid)" class="form-control" readonly />

                            </div>

                        </div>
                        <div class=" col-8" hidden>
                            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            <div class="form-group">
                              <label asp-for="ImgExtension" class="controll-lable"></label>
                                <input asp-for="ImgExtension" class="form-control" id="ImgExtension" readonly />
                               
                            </div>

                        </div>

                    </div>
                  
                </div>
                <div class="row-5">
                    <span asp-validation-for="UploadedProfilePic" class="text-danger"></span>
                    <br /><span asp-validation-for="UniFullname" class="text-danger"></span>
                    
                    <br /><span asp-validation-for="UniShortname" class="text-danger"></span>
                    <br /><span asp-validation-for="UniDetails" class="text-danger"></span>
                                      </div>

                <div class="col-12 btn-group">
                    <div class="col-10 form-group text-right p-2">
                        <a asp-action="Index" class="buttons1">Back</a>

                    </div>
                    <div class="col-2 form-group text-left p-2">
                        <input type="submit" @* value="Create"*@ class="buttons1" />
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
<br />
</body>
@section Scripts{
    <script>
        //$(".custom-file-input").on("change", function () {

        //    var fileName = $(this).val().split("\\").pop();

        //    document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0]);

        //    document.getElementById('PhotoUrl').value = fileName;


        //    var fileName = $(this).val().split("\\").pop();
        //    var ImgExt = fileName.split('.').pop();
        //    document.getElementById('ImgExtension').value = ImgExt;

        //});

        $(".custom-file-input").on("change", function () {

            var fileName = $(this).val().split("\\").pop();
            var ImgExt = fileName.split(".").pop();
            console.log(ImgExt);


            var error = "";
            error = imgextvalid(ImgExt);
            if (error != "") {
                alert(error);
                return;
            }


            $(this).siblings(".custom-file-input").addClass("selected").html(fileName);
            document.getElementById('PreviewPhoto').src = window.URL.createObjectURL(this.files[0]);
            


        });
        function imgextvalid(ImgExt) {
            if (ImgExt != 'jpg' && ImgExt != 'png') {
                return "Only jpg and png are  accepted";
            }
            return "";
        }

    </script>
    <partial name="_ValidationScriptsPartial.cshtml" />
        }