@model DegreeModel

@{
    ViewData["Title"] = "Edit";
}
<br /><br />
<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DegreeEdit" enctype="multipart/form-data" onsubmit="return ValidateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Degree_ID" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Degre_Name" class="control-label">Degree Name</label>
                <input asp-for="Degre_Name" class="form-control" />
                <span asp-validation-for="Degre_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree_Type" class="control-label">Type of the Degree</label>
                <input asp-for="Degree_Type" class="form-control" />
                <span asp-validation-for="Degree_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Affiliated_uni" class="control-label">Affliated Universities</label>
                <input asp-for="Affiliated_uni" class="form-control" />
                <span asp-validation-for="Affiliated_uni" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="Degree_duration" class="controll-lable">Duration of the Degree</label>
                <input asp-for="Degree_duration" class="form-control" />
                <span asp-validation-for="Degree_duration" class="text-danger"></span>
            </div>

            
            
                
                <div class="form-group">
                    <label asp-for="Degree_description" class="controll-lable">Description</label>
                    <input asp-for="Degree_description" class="form-control" id="ImgExtension" readonly />
                    <span asp-validation-for="Degree_description" class="text-danger"></span>
                </div>


            <div class="form-group">
                <label asp-for="CourseFee" class="controll-lable">Course Fee</label>
                <input asp-for="CourseFee" class="form-control" />
                <span asp-validation-for="CourseFee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Career_Opurtunity" class="controll-lable">Career Oppurtunities</label>
                <input asp-for="Career_Opurtunity" class="form-control" />
                <span asp-validation-for="Career_Opurtunity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Academic_proggression" class="controll-lable">Academic Progression</label>
                <input asp-for="Academic_proggression" class="form-control" />
                <span asp-validation-for="Academic_proggression" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Admission_Requirments" class="controll-lable">Admission Requirements</label>
                <input asp-for="Admission_Requirments" class="form-control" />
                <span asp-validation-for="Admission_Requirments" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DegreeContents" class="controll-lable">Degree Content</label>
                <input asp-for="DegreeContents" class="form-control" />
                <span asp-validation-for="DegreeContents" class="text-danger"></span>
            </div>
            <div class=" col-8">

                <div class="form-group" hidden>
                    <label asp-for="UniShortname" class="controll-lable"></label>
                    <input asp-for="UniShortname" value="@(ViewBag.UnishortName)" class="form-control" readonly />
                    @*<input @Html.DisplayFor(model => model.Uni_ID) class="form-control" />*@

                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

            </div>


           
            <div class="form-group">
                <input type="submit" value="Edit" class="buttons1" />
            </div>
        </form>
    </div>
</div>

<br>
    <a asp-action="Index">Back to List</a>
<br><br><br>
@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}