@model List<Project_G06.Models.Universities>
@{
}
<h1>University list</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Date</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var university in Model)
        {
            <tr>
                <td>@university.Name</td>
                <td>@university.Email</td>
                <td>@university.Password</td>
                <td>@university.Date.ToString("dd/mm/yy")</td>
                <td><a href="University/View/@university.Name">View</a></td>
                <td><button type="submit" asp-action="View" asp-controller="Universities">View</button></td>
             
                <td><button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Universities"> Delete</button></td>
            </tr>
        }

    </tbody>
</table>