@model  Project_G06.Models.Universities
 <form method="post">
     <div> 
         <h2>List of Faculties</h2>
     </div>
     <div> <label asp-for="Name">Name of faculty</label></div>
     <a asp-controller="Universities" asp-action="Index">List</a>
</form>


