@model Project_G06.Models.UpdateUniversity

@{

}

<h1> Edit</h1>
<div id="form">
    <form method="post" action="View" id="form1">
        <div>
            <label>  Name</label>
            <input type="text" class="form-label" asp-for="Name"  readonly/>
         
        </div>

        <div>
            <label> Email</label>
            <input type="email" class="form-label" asp-for="Email" />
          
        </div>


        <div>
            <label> Password</label>
            <input type="text" class="form-label" asp-for="Password" />
       
        </div>

        <div>
            <label> Confirm Password</label>
            <input type="text" class="form-label" asp-for="ConfirmPassword" />
 
        </div>

        <div>
            <label> Date</label>
            <input type="date" class="form-label" asp-for="Date" />
         
        </div>

        <div>
            <button type="submit" asp-action="AddNew" asp-controller="Universities"> Submit</button>
         
        </div>
    </form>
</div>
