@{
    ViewData["Title"] = "Univ Dash board Page";
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom border-top box-shadow mb-3">
    <div class="container-fluid">
       
       
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Add/Edit Profile Picture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Add/Edit University Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Add/Edit faculty details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="UnivDashController1" asp-action="UnivdashBoard">Add/Edit degree details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="UnivDashController1" asp-action="UnivdashBoard">Add new degree </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="form-group">
 

<label for="ProImage">Choose a profile picture:</label>

<input type="file"
       id="ProImage" name="ProImage"
       accept="image/png, image/jpeg">
       <br >
       <br >
<h2>University Details</h2>
    <label for="UniDetails">Details:</label><br>
    <textarea name="textarea" rows="5" cols="100">Write something here</textarea>
    <input type="submit" value="Submit">

<br >
<br >
<h2>Faculties</h2>
<label for="Faculties">Details:</label>
<br>
<textarea name="textarea" rows="3" cols="100">Write something here</textarea>
<input type="submit" value="Submit">

    <br>
    <br>
    <h2>Degree</h2>
    <label for="Dname"> Degree Name:</label>
    <input type="text" id="Dname" name="Dname" value=""><br>

    <label for="DType"> Degree Type:</label>
    <input type="text" id="DType" name="DType" value=""><br>

    <label for="DAdRe"> Admission Requirenments:</label>
    <input type="text" id="DAdRe" name="DAdRe" value=""><br>

    <label for="DCC"> Course Content:</label>
    <input type="text" id="DCC" name="DCC" value=""><br>

    <label for="DNSem"> Number of semesters:</label>
    <input type="number" id="DNSem" name="DNSem" value=""><br>
    
    <label for="DCOp"> Career Opportunities:</label><br>
    <textarea name="textarea" rows="3" cols="100">Write something here</textarea><br>

    <label for="DCFe"> Course Fee:</label>
    <input type="text" id="DCC" name="DCC" value=""><br>

    <label for="DUGC"> UGC Approval:</label>
    <input type="text" id="DUGC" name="DUGC" value=""><br>

    <label for="DAUni"> Affiliated Campus Offering the degree:</label>
    <input type="text" id="DAUni" name="DAUni" value="">
    <input type="number" id="DAUni" name="DAUni" value=""><br>

    <label for="DAProg">Academic Progression:</label><br>
    <textarea name="textarea" rows="2" cols="100">Write something here</textarea><br>



    <input type="submit" value="Submit">
</div>