@model Project_G06.Models.AddFacultyViewModel
@{
}
<h1>Add faculty</h1>
<form method="post" action="AddFaculty">
    <div>
        <label>Faculty name</label>
        <input type="text" asp-for="F_Name"/>
    </div>
    <button type="submit">Submit</button>
</form>