@model List< Project_G06.Models.Faculties>
@{
}
<h1>faculty list</h1>
<table class="table">
    <thead>
        <tr>
            <th>Faculty Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var faculties in Model)
        {
            <tr>
                <td>@faculties.Name</td>
                <td><a href="Faculties/view/@faculties.Name">View</a></td>
            </tr>
        }
        
</tbody>
</table>