<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_G06</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout-cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_G06.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">


    <!--Css test begins-->
    <link rel="stylesheet" href="~/css/Homepage.css" asp-append-version="true" />


    <!--css test ends-->







</head>
<body>
    <header>
    
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
            <div class="container-fluid">
                <img src="~/images/LOGO.jpeg" alt="logo" class="logo-image" />
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class=" collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item" >
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link mx-0 " >Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="compare" class="nav-link mx-0">Compare</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="UnivProfile" class="nav-link mx-0" >University Profile</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link mx-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                Register
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#1B1212">
                            <!-- <li> <a asp-area="" asp-controller="Universities" asp-action="AddNew" class="nav-link mx-0" >Register your university</a></li>-->


                               
                              <!---<li><a asp-area="" asp-controller="New" asp-action="Index" class="nav-link mx-0">view list of universities </a></li>-->
                      

                               
                                <!--<li>  <partial name="_LoginPartial" class="nav-link mx-0"  /></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link mx-0 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                Login
                            </a>
                   
                         <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#1B1212">
                                <li>  <a asp-area="" asp-controller="Home" asp-action="LOGINSUPERADMIN" class="nav-link mx-0" >Web Admin</a></li>
                            </ul>-->
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="aboutUs" class="nav-link mx-0">About Us</a>
                        </li>

                      <li class="nav-item">
                            <a asp-area="" asp-controller="Profile" asp-action="Index" class="nav-link mx-0">Degree list test for search </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="AppRoles" asp-action="Index" class="nav-link mx-0">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="SuperAdmin" asp-action="Index">Super Admin DashBoard</a>
                        </li>
                        <li class="nav-item">
                            <<partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
              
            </div>
    <!--- <partial name="_LoginPartial" />-->
        </nav>
        


        
    
    </header>
 
   <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <footer class="footer">
        <div>
            &copy; 2022 - Project_G06 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
