@model Project_G06.Models.WebAdmin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WebAdmin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.W_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.W_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.W_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.W_Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.W_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
