@model Category
<input asp-for="Id" hidden />

<form method="post" asp-action="Delete">
    <div>
        <div>
            <h2> page to Delete in the university details during registration !</h2>
        </div>
    </div>


    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" disabled>
        <span asp-validation-for="Name"></span>
    </div>


    <div>
        <label asp-for="OtherName">Long Name</label>
        <input asp-for="OtherName" disabled>
        <span asp-validation-for="OtherName"></span>
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" disabled>
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" disabled>
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" disabled>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Delete</button>
    <a asp-controller="New" asp-action="Index">Navigate to list</a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
