@model Category
<input asp-for="Id" hidden />

<form method="post" asp-action="Delete">
    <div>
        <div>
            <h2> page to Delete in the university details during registration !</h2>
        </div>
    </div>


    <div>
        <label asp-for="U_UserName">UserName</label>
        <input asp-for="U_UserName" disabled>
        <span asp-validation-for="U_UserName"></span>
    </div>



    
    <div>
        <label asp-for="U_Email">Email</label>
        <input asp-for="U_Email" disabled>
        <span asp-validation-for="U_Email"></span>
    </div>

    <div>
        <label asp-for="U_Password">Password</label>
        <input asp-for="U_Password" disabled>
        <span asp-validation-for="U_Password"></span>
    </div>

 
    <button type="submit">Delete</button>
    <a asp-controller="New" asp-action="Index">Navigate to list</a>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
