html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.Mynavbar {
    overflow: hidden;
    background-color: #333;
}

    .Mynavbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.Mynavbar_dropdown {
    float: left;
    overflow: hidden;
}

 .Mynavbar_dropdown .Mynavbar_dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

  .Mynavbar a:hover, .Mynavbar_dropdown:hover .Mynavbar_dropbtn {
        background-color: red;
    }

.Mynavbar_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .Mynavbar_dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .Mynavbar_dropdown-content a:hover {
            background-color: #ddd;
        }

.Mynavbar_dropdown:hover .Mynavbar_dropdown-content {
    display: block;
}

.table {
    border: solid 5px;
    border-color: black;
}

.container {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    margin:10px;
}

.con {
    Width: 350px;
    border: 1px solid black;
}

