

@import url('site.css');
header ,header ul li{
    font-size:20px;

}


 @media (min-width: 768px) {
        html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    font-size: 14px;
}

body {
    /* margin-bottom: 60px;*/

    padding: 0;
    font-family: sans-serif;
    margin: 0;
}



.table {
    border: solid 5px;
    border-color: black;
}
.UniProfiles{
    background-color:black;
}
/*
.container {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    margin:10px;

}*/
#login {
    overflow: hidden;
    margin: auto;
    margin: 20px 0 0 450px;
    padding: 80px;
    background: #8458a3;
    border-radius: 15px;
    color: #ddd;
}

.buttons1 {
    background-color: #8b0000;
    border: none;
    color: white;
    padding:10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.buttons {
    background-color: #8b0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
}


#registerSubmit, #login-submit {
   
    margin-left: 200px;
    border-radius: 10px;
}
    #registerSubmit:hover, #login-submit:hover, #SignBtn:hover {
        background-color: dimgrey;
    }

#SignBtn {
        margin-left: 200px;
        border-radius: 10px;
    }
@media only screen and (max-width: 800px) {
    #registerSubmit, #login-submit, #SignBtn {
        margin-left: 50px;
    }
}

#logout-btn {
    background-color: #8b0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.about {
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ECECEC;
    font-family: 'Pragati Narrow', sans-serif;
}


.intro p{
    color:  #ECECEC;

}








@media only screen and (min-width: 400px) {
    .about {
        height: 500px;
        width: 500px;
        overflow-x: scroll;
        overflow-y: scroll;
        
    }

    .about::-webkit-scrollbar {
        display: none;
    }

}






@media only screen and (max-width: 800px) {
    .ab {
        background-color: black;
    }
}
.ab {
    background-image:url(../images/background4.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    text-align:justify;
    
    

}

.forms {
    align-items: center;
    justify-content: center;
    width: 40%;
    display: flex;
    border: 5px solid #f1f1f1;
    display: flex;
    overflow: hidden;
    padding: 80px;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 30%;
    background-color: #CBDCCB;
}

.forms p{
  font-size:16px;
  
}
.forms h3{
    font-size:15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*
button {
    background-color: #c21524;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 30%;
    align-items:center;
}
*/


h1 {
    text-align: center;
    font-size: 18px;
}
/*
button:hover {
    background:#D7CEC7;
    color:#000000;
    border-radius:5px;
    box-shadow:0 0 5px #D3D3D3;
}

.link{
    color:red;
   text-decoration:none;
   
}
.link:hover{
    color:darkred;
    text-decoration:underline;
    text-align:center;
}*/

input[type=text] {
    width: 100%;
 /*   -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
}


    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 100%;
    }


.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    /*outline: 0;*/
    text-align: center;
    width: 100%;
}

.submit:active {
        background-color: #06b;
    }

.Container{
    border:1px solid black;
    display:flex;
    flex-direction:column;
    height:auto;
    overflow:hidden;
}



.login-box {
    top: 100%;
    /* width: 600px;*/
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #000000;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 40%;
  display:flex;
    margin-top: 80px;
    margin-left: 30%;
}

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

 

        
        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff000;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
           
            font-size: 12px;
        }

   

/*
.search {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: nowrap;
    column-gap: 5px;
    width: 60%;
    margin-left:20%;
    margin-top: 0%;
    
}

.wrap {
    margin-top: 10%;


}




.searchTerm {
    width: 30%;
    border: 3px solid #1D1D1D;
    border-right: none;
    padding: 5px;
    height: 70px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #601718;
    font-size: 14px;
}

    .searchTerm:focus {
        color: black;
        border: 3px solid #1D1D1D;
    }

.searchButton {
    width: 50px;
    height: 68px;
    border: 2px black solid;
    background: transparent;
    text-align: center;
    color: #000000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

    .searchButton:hover {
        background: #ceaf54;
        border-radius: 0 5px 5px 0;
        color: azure;
    }



/*
.wrap {
    width: 60%;
    margin : 0 auto;
    justify-content:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

 .wrap h1 {
    text-align: center;
    font-size: 54px;
    font-family: 'Oswald', sans-serif;
    margin-top:40px;
    color:#710c04;

  
}


.wrap p {
        text-align: center;
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        color:black;
       
    }
/*Homepage*/
.container1 {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: row; /*
    flex-wrap: wrap; */
 
}
@media only screen and (max-width: 800px) {
    .container1 {
        width: 100px;
        flex-direction: row; 
       flex-wrap: wrap;
      
       align-items:center;
       margin-left:185px;

    }
}

.con-item {
    width: auto;
    margin: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*  border:3px solid rgb(18, 17, 17) ;*/
        background-color: #FFFFFF;
        padding: 30px;
        height: 225px;
        flex-basis: 2px;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }


 .con-item p {
        color: #710c04;
    }
 


.row {
    display: flex;
    flex-direction:column;
    row-gap: 20px;
    column-gap:2px;
    justify-content:space-around;
    font-size:18px;
   

  
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*

.column h2 {
    text-align: left;
    font-size: 25px;
    color: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

.column p {
    text-align: left;
    font-family: 'IBM Plex Sans', sans-serif;
}
    */


.Compare-header {
    padding:0;
    margin: 0 ;
    background-color:cadetblue;
    width : 100%;
   padding:0;
   margin:auto;

}
.home-image {
    width: 120px;
    height: 126px;
    overflow: hidden;
    margin-top: -25px;
   
}



#pop{
    display:none;
}
a{
    text-decoration:none;
}
.compareLink:hover {
    text-decoration: underline;
    color: #8b0000;
}

.Profilecontainer {
    background-color: white;
    border: 2px solid #8b0000;
    border-radius: 8px;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    width: 30%;
    display: grid;
    grid-gap: 15px;
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.Profiles {
    display: flex;
    justify-content: space-around;
    margin-top:23px;
    flex-direction: row; 
    flex-wrap:wrap;
    row-gap:15px;
   
}

#PreviewPhoto {
    width: 200px;
    height: 200px;
    border: 1px;
    margin-top: 10px;
}
@media only screen and (max-width: 800px) {
    #PreviewPhoto {
        width: 100px;
        height: 100px;
    }
}

.Profilecontainer1 {
    background-color: white;
    box-sizing: border-box;
    border: solid #710c04 3px;
    border-radius:10px;
    padding: 5px;
    justify-content: center;
    width: 40%;
    display: grid;
}
 .Profilecontainer1 .row{
     font-size:18px;
 }
    .Profilecontainer1 #listlink {
        color: #8b0000;
        font-size:25;
    }
    .Profilecontainer1 #listlink:hover {
        text-decoration: underline;
   
    }

 .Profiles1 {
        display: flex;
        justify-content: space-around;
        margin-top: 23px;
        flex-direction: row;
    }
 .Profiles1 .row {
        font-size: 16px;
    }

#form1 {
    padding: 21px;
}

/*detailspage*/

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,+1%);
    width: 100%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

    .wrapper .left {
         width: 35%;
       background-color:black;
        padding: 30px 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
    }

        .wrapper .left img {
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .wrapper .left h4 {
            margin-bottom: 10px;
        }

        .wrapper .left p {
            font-size: 12px;
        }

    .wrapper .right {
        width: 65%;
        background: #fff;
        padding: 30px 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .wrapper .right .UniInfo,
        .wrapper .right .UDetails {
            margin-bottom: 25px;
        }

            .wrapper .right .UniInfo h3,
            .wrapper .right .UDetails h3 {
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid #e0e0e0;
                color: #353c4e;
                text-transform: uppercase;
                letter-spacing: 5px;
            }

        .wrapper .right .UniInfo_data {
            display: flex;
            justify-content: space-between;
        }

            .wrapper .right .UniInfo_data .data,
            .wrapper .right .UDetails_data .Udata {
                width: 95%;
            }

                .wrapper .right .UniInfo_data .data h5,
                .wrapper .right .UDetails_data U.data h5 {
                    color: #353c4e;
                    margin-bottom: 5px;
                }

                .wrapper .right .UniInfo_data .data p {
                    font-size: 19px;
                    margin-bottom: 10px;
                    color: #000000;
                }

                .wrapper .right .UDetails_data .Udata p {
                    font-size: 15px;
                    margin-bottom: 10px;
                    color: #000000;
                }

    .wrapper .ButClz {
        display: flex;
        justify-content: space-between;
    }
   .wrapper .ButClz .buttons1{
       color:white;
   }
   /*end Detailspage*/
        /*create page*/
  .bgP {
            background-image: url(../images/background4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: justify;
        }
/*end crate page*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E5E4E2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    column-gap: 30px;
    row-gap: 20px;
    margin-bottom:20px;
}

@media only screen and (max-width: 800px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #E5E4E2;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        padding: 10px;
        column-gap: 30px;
        row-gap: 20px;
    }
    
}





.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.column {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


    .column h2 {
        /*color: #880ED4;*/
        color: #850000;
        text-align: left;
        font-size: 25px;
        font-family: 'IBM Plex Sans', sans-serif;
        text-decoration: underline;
        text-transform: uppercase;
    }



#compare-button {
    background-color: #6B6A69;
    height: 40px;
    width: 100px;
    color: whitesmoke;
    border-radius: 5px;
    border: white solid 2px;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}


    #compare-button:hover {
        background-color: #000000;
        border: black solid 2px;
        color: white;
    }

.button-container {
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.wrappers {
    padding-top: 20px;
}



    .wrappers h5 {
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }




    .wrappers input {
        font-size: 20px;
    }

    .wrappers text {
        font-size: 15px;
    }




.options {
    /* display:grid;
    grid-template-columns:1fr;
    width :200px;*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    column-gap: 60px;
}

    .options text {
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }



#error {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.error {
    height: 100%;
}


.table-wrapper{
    
    box-sizing:border-box;
    
}
.I-table {
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius:5px;

}




    .I-table tbody td {
        border-left: 1px black solid;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        border-right: 1px black solid;
        font-family: 'IBM Plex Sans', sans-serif;
        
    }


    .I-table thead th {
        font-family: 'IBM Plex Sans', sans-serif;
        border-left: 1px black solid;
        color: black;
    }

    .I-table thead {
        background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    }

    .I-table a{
        color:darkred;
        text-decoration:underline;

    }





@media only screen and (max-width: 800px) {
    .I-table td{
        
        overflow-y: hidden;
    }


}







.index-H h1 {
    padding-top: 40px;
    font-family: 'Fredoka One', cursive;
    text-align:left;
    text-decoration:underline;
    text-transform:uppercase;
}



.login-boxs {
    position: absolute;
    opacity:0.8;
    left: 50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color:black ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
   margin-top:250px;
}
@media only screen and (max-width: 800px) {
    .login-boxs {
        width: 300px;
       
        padding: 40px;
    }
}


.login-boxs h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .login-boxs .user-boxs {
        position: relative;
    }

        .login-boxs .user-boxs input {
            width: 100%;
           
           
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }


            .login-boxs .user-boxs label {
                position: absolute;
                top: -20px;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: red;
                pointer-events: none;
            }



.page-container {
    float:left;
    padding-top:30px;
    font-size:12px;
}


.page-container a {
    background-color: lightgray;
    color: black;
    padding-top: 10px;
    margin-top: 10px;
}

.page-container a:active{
    background-color:black;
    color:white;
}


    .page-container a:hover{
        background-color: black;
        color: white;
    }

.card-header .card{
    background-color: #8b0000;
    color: white;
    text-align:center;
}


.Stable-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.S-table {
    border: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
    width: 700px;
    max-width: 100%;
    padding-top: 20px;
    text-align: center;
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
}


.index-H{
    padding-bottom:30px;
}



    .S-table tbody td {
        border-left: 1px black solid;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        border-right: 1px black solid;
        font-family: 'IBM Plex Sans', sans-serif;
    }


    .S-table thead th {
        font-family: 'IBM Plex Sans', sans-serif;
        border-left: 1px black solid;
        color: black;
        background: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    }

    

    .S-table a {
        color: darkred;
        text-decoration: underline;
    }





@media only screen and (max-width: 800px) {
    .S-table td {
        overflow-y: hidden;
    }
}



