

@import url('site.css');
header ,header ul li{
    font-size:20px;

}


 @media (min-width: 768px) {
        html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    height: 100%;
    font-size: 14px;
}

body {
    /* margin-bottom: 60px;*/

    padding: 0;
    font-family: sans-serif;
    margin: 0;
}



.table {
    border: solid 5px;
    border-color: black;
}
/*
.container {
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:20px;
    margin:10px;

}*/


#login {
    overflow: hidden;
    margin: auto;
    margin: 20px 0 0 450px;
    padding: 80px;
    background: #8458a3;
    border-radius: 15px;
    color:#ddd;
}
.buttons {
    background-color: #8b0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



#registerSubmit, #login-submit {
    background-color: #8b0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#logout-btn {
    background-color: #8b0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.about {
    align-items: center;
    justify-content: center;
    width: 40%;
    display: flex;
    overflow: hidden;
    padding: 80px;
    border-radius: 15px;
    background-color: dimgrey;
    color: white;
    margin-top: 80px;
    margin-left: 30%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.ab {
    background-image:url(../images/background4.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    text-align:justify;
    
    

}

.forms {
    align-items: center;
    justify-content: center;
    width: 40%;
    display: flex;
    border: 5px solid #f1f1f1;
    display: flex;
    overflow: hidden;
    padding: 80px;
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 30%;
    background-color: #CBDCCB;
}

.forms p{
  font-size:16px;
  
}
.forms h3{
    font-size:15px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*
button {
    background-color: #c21524;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 30%;
    align-items:center;
}
*/


h1 {
    text-align: center;
    font-size: 18px;
}
/*
button:hover {
    background:#D7CEC7;
    color:#000000;
    border-radius:5px;
    box-shadow:0 0 5px #D3D3D3;
}

.link{
    color:red;
   text-decoration:none;
   
}
.link:hover{
    color:darkred;
    text-decoration:underline;
    text-align:center;
}*/

input[type=text] {
    width: 100%;
 /*   -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;*/
}


    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 100%;
    }


.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    /*outline: 0;*/
    text-align: center;
    width: 100%;
}

.submit:active {
        background-color: #06b;
    }

.Container{
    border:1px solid black;
    display:flex;
    flex-direction:column;
    height:auto;
    overflow:hidden;
}


.login-box {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 600px;
   
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #000000;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

    .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
    }

    .login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #D3D3D3;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            /*background: transparent;*/
            background: black;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff000;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #FFFF00;
            font-size: 12px;
        }

    .login-box form button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #FFFF00;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px;
        background:black;
    }

    .login-box button:hover {
        background: #D3D3D3;
        color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
    }

/*
.search {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: nowrap;
    column-gap: 5px;
    width: 60%;
    margin-left:20%;
    margin-top: 0%;
    
}

.wrap {
    margin-top: 10%;


}




.searchTerm {
    width: 30%;
    border: 3px solid #1D1D1D;
    border-right: none;
    padding: 5px;
    height: 70px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #601718;
    font-size: 14px;
}

    .searchTerm:focus {
        color: black;
        border: 3px solid #1D1D1D;
    }

.searchButton {
    width: 50px;
    height: 68px;
    border: 2px black solid;
    background: transparent;
    text-align: center;
    color: #000000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

    .searchButton:hover {
        background: #ceaf54;
        border-radius: 0 5px 5px 0;
        color: azure;
    }



/*
.wrap {
    width: 60%;
    margin : 0 auto;
    justify-content:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

 .wrap h1 {
    text-align: center;
    font-size: 54px;
    font-family: 'Oswald', sans-serif;
    margin-top:40px;
    color:#710c04;

  
}


.wrap p {
        text-align: center;
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
        color:black;
       
    }

.container1 {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: row; /*
    flex-wrap: wrap; */
 
}

.con-item {
    width: auto;
    margin: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*  border:3px solid rgb(18, 17, 17) ;*/
    background-color: #FFFFFF;
    padding: 30px;
    height: 225px;
    flex-basis: 2px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

 .con-item p {
        color: #710c04;
    }
 
.column {
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: white;
    height: 300px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.row {
    display: flex;
    flex-direction:column;
    row-gap: 20px;
    column-gap:2px;
    justify-content:space-around;
   

  
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.column h2 {
    text-align: left;
    font-size: 25px;
    color: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

.column p {
    text-align: left;
    font-family: 'IBM Plex Sans', sans-serif;
}



.Compare-header {
    padding:0;
    margin: 0 ;
    background-color:cadetblue;
    width : 100%;
   padding:0;
   margin:auto;

}
.home-image {
    width: 120px;
    height: 126px;
    overflow: hidden;
    margin-top: -25px;
   
}

#pop{
    display:none;
}
a{
    text-decoration:none;
}
.compareLink:hover {
    text-decoration: underline;
    color: #8b0000;
}

.Profilecontainer {
    background-color: white;
}

.UniVisitBtn {
    display: block;
    background-color: #8b0000;
    margin: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#form1 {
    padding: 21px;
}

/*detailspage*/

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,+1%);
    width: 90%;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

    .wrapper .left {
        /* width: 35%;*/
        background: linear-gradient(to right,#000000,#9ca3a3);
        padding: 30px 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
    }

        .wrapper .left img {
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .wrapper .left h4 {
            margin-bottom: 10px;
        }

        .wrapper .left p {
            font-size: 12px;
        }

    .wrapper .right {
        width: 65%;
        background: #fff;
        padding: 30px 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .wrapper .right .UniInfo,
        .wrapper .right .UDetails {
            margin-bottom: 25px;
        }

            .wrapper .right .UniInfo h3,
            .wrapper .right .UDetails h3 {
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 1px solid #e0e0e0;
                color: #353c4e;
                text-transform: uppercase;
                letter-spacing: 5px;
            }

        .wrapper .right .UniInfo_data {
            display: flex;
            justify-content: space-between;
        }

            .wrapper .right .UniInfo_data .data,
            .wrapper .right .UDetails_data .Udata {
                width: 95%;
            }

                .wrapper .right .UniInfo_data .data h5,
                .wrapper .right .UDetails_data U.data h5 {
                    color: #353c4e;
                    margin-bottom: 5px;
                }

                .wrapper .right .UniInfo_data .data p {
                    font-size: 19px;
                    margin-bottom: 10px;
                    color: #000000;
                }

                .wrapper .right .UDetails_data .Udata p {
                    font-size: 15px;
                    margin-bottom: 10px;
                    color: #000000;
                }

    .wrapper .ButClz {
        display: flex;
        justify-content: space-between;
    }

        .wrapper .ButClz .Bdata {
            width: 65px;
            height: 45px;
            background: linear-gradient(to right,#3c3e3e,#b6bdbd);
            margin-right: 10px;
            border-radius: 5px;
            text-align: center;
            line-height: 45px;
        }

            .wrapper .ButClz .Bdata a {
                color: #fff;
                display: block;
                font-size: 18px;
            }
/*end Detailspage*/


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E5E4E2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



    .grid-item h2 {
        /*color: #880ED4;*/
        color: #850000;
        text-align: left;
        font-size: 25px;
        font-family: 'IBM Plex Sans', sans-serif;
        text-decoration: underline;
        text-transform: uppercase;
    }



#compare-button {
    background-color: #6B6A69;
    height: 40px;
    width: 100px;
    color: #000000;
    border-radius: 5px;
    border: white solid 2px;
    font-size: 16px;
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}


    #compare-button:hover {
        background-color: #000000;
        border: black solid 2px;
        color: white;
    }

.button-container {
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.wrappers {
    padding-top: 20px;
}



    .wrappers h5 {
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }




    .wrappers input {
        font-size: 20px;
    }

    .wrappers text {
        font-size: 15px;
    }




.options {
    /* display:grid;
    grid-template-columns:1fr;
    width :200px;*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    column-gap: 10px;
}

    .options text {
        font-family: 'Fredoka One', cursive;
        text-transform: uppercase;
    }



#error {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
    text-align: center;
    /*border: 7px solid red;*/
    width: 100%;
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.error {
    height: 100%;
}




.table-wrapper {
    margin: 10px 70px 70px;
    padding-top: 20px;
}


.I-table {
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    .I-table td, .I-table th {
        text-align: center;
        padding: 8px;
    }

    .I-table td {
        border: 1px solid #000000;
        font-size: 12px;
    }

    .I-table thead th {
        color: #000000;
        background: #B50717;
    }


        .I-table thead th:nth-child(odd) {
            color: #000000;
        }

    .I-table tr:nth-child(even) {
        background: #F8F8F8;
    }

/* Responsive */

@media (max-width: 767px) {
    .I-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .I-table thead, .I-table tbody, .I-table thead th {
        display: block;
    }

        .I-table thead th:last-child {
            border-bottom: none;
        }

    .I-table thead {
        float: left;
        background-color: #B50717;
    }

    .I-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .I-table td, .I-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .I-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .I-table tbody tr {
        display: table-cell;
    }

        .I-table tbody tr:nth-child(odd) {
            background: none;
        }

    .I-table tr:nth-child(even) {
        background: transparent;
    }

    .I-table tr td:nth-child(odd) {
        background: #F8F8F8;
        /*border-right: 1px solid #E6E4E4;*/
    }

    .I-table tr td:nth-child(even) {
        /*border-right: 1px solid #E6E4E4;*/
    }

    .I-table tbody td {
        display: block;
        text-align: center;
    }
}