@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>About US</h4>
<img src="~/images/uni.webp" alt="image" class="image"/>
<p>This is a web application</p>
<p> 
Students who have just completed their O/L or A/L examinations face the problem of finding the best university to suit their requirements.
There is no common platform for students to compare degree programs of several universities.For this students have to visit several websites to find a degree
program. Some of these are complex hence harder to navigate. Fake propaganda
exists to attract clients. Not all details such as the course duration and price etc
are stated clearly. Information can be different across different websites leading to
inconsistencies.

In solution we propose a website application for students to easily find degree
programs which includes details of degrees offered by all private universities in Sri
lanka. This site hopes to facilitate students to compare their chosen degree programs under different criteria across different campuses. Also this web application
is expected to provide facilities for students to exchange information with campus
counselors and apply for the degree program selected by the user</p>
