@page
@model WebApplication2.Pages.changepassModel
@{
    ViewData["Title"] = "change password";
}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>change password</title>
     </head>

    <body>
        <form>
            <label>Current password </label>
            <input type="text" />

            <label>New password</label>
            <input type="text" />


            <label>Confirm password</label>
            <input type="text" />
            <!--theres a plus button here and when its clicked a form appears. The form will contain the details of the degree programme. -->
            <a href="#">Cannot remember password</a>

            <button>reset</button>
          
        </form>
    </body>

</html>
        