

<h4>Compare !</h4>

<div class="Container">
<div class="Con">
    <input type="text" placeholder="university.." />
    <p>
        University:
        degree name:
        
        Degree type:
        Degree Description:
        Degree Content:

        Degree Duration:
        Course fee:
        Academic progress:
        Admission Reguirements:
        contact:
        Email:
        Career opppurtunities:
        Affliated universities:



</p>
</div>
<div class="Con">
        <input type="text" placeholder="university.." />
        <p>
            University:
        degree name:

        Degree type:
        Degree Description:
        Degree Content:

        Degree Duration:
        Course fee:
        Academic progress:
        Admission Reguirements:
         contact:
        Email:
        Career opppurtunities:
       Affliated universities:
    
        </p>
</div>
<div class="Con">
        <input type="text" placeholder="university.." />
        <p>
            University:
            degree name:

            Degree type:
            Degree Description:
            Degree Content:

            Degree Duration:
            Course fee:
            Academic progress:
            Admission Reguirements:
             contact:
            Email:
            Career opppurtunities:
            Affliated universities:

        </p>
</div>
</div>