@model Project_G06.Models.DegreeModel

<h4>Compare !</h4>

<div class="Container">
<div class="Con">
    <input type="text" placeholder="university.." />
    <button type="submit"> Search</button>
  <p>
            University:   
        <br />
            degree name:@Html.DisplayNameFor(model=>model.Degre_Name)
        <br />
            Degree type:@Html.DisplayNameFor(model=>model.Degree_Type)
         <br />
            Degree Description:@Html.DisplayNameFor(model=>model.Degree_description)
         <br />
         
            Degree Duration:@Html.DisplayNameFor(model=>model.Degree_duration)
         <br />
            Course fee:@Html.DisplayNameFor(model=>model.CourseFee)
        <br />
           
            Admission Reguirements:@Html.DisplayNameFor(model=>model.Admission_Requirments)
       
        <br />
            Degree Progression:@Html.DisplayNameFor(model=>model.Academic_proggression)
        <br />
            Career opppurtunities:@Html.DisplayNameFor(model=>model.Career_Opurtunity)
        <br />
            Affliated universities:@Html.DisplayNameFor(model=>model.Affiliated_uni)
        <br />


</p>


</div>
<div class="Con">
        <input type="text" placeholder="university.." />
        <button type="submit"> Search</button>
        <p>
            University:
            <br />
            degree name:
            <br />
            Degree type:
            <br />
            Degree Description:
            <br />
            Degree Content:
            <br />

            Degree Duration:
            <br />
            Course fee:
            <br />
            Academic progress:
            <br />
            Admission Reguirements:
            <br />
            contact:
            <br />
            Email:
            <br />
            Career opppurtunities:
            <br />
            Affliated universities:
            <br />
    
        </p>
</div>
<div class="Con">
        <input type="text" placeholder="university.." />
        <button type="submit"> Search</button>
        <p>
            University:
            <br />
            degree name:
            <br />
            Degree type:
            <br />
            Degree Description:
            <br />
            Degree Content:
            <br />

            Degree Duration:
            <br />
            Course fee:
            <br />
            Academic progress:
            <br />
            Admission Reguirements:
            <br />
            contact:
            <br />
            Email:
            <br />
            Career opppurtunities:
            <br />
            Affliated universities:
            <br />

        </p>
</div>
</div>