@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body class="ab">
<div class="wrap">
    <h1> Welcome </h1>

    <!-- <div class="search">

  <input type="text" class="searchTerm" placeholder="What is the degree you are looking for?">
        <button type="submit" class="searchButton" id="searchButton">
            <i class="fa fa-search"></i>
            GO
        </button>
   </div>-->

        <p> Find the best degree  from a range of universities on one single platform !!</p>
    <p>
      
        <a asp-area="" asp-controller="StudentEmail" asp-action="Add" class="buttons1">Sign Up to recieve notifications</a>
    </p>

    <br />
 <div class="container1">
        <div class="con-item">
             <br />
                <img src="~/images/university-building.png" class="home-image" />
           
   

            <p>10+ institutions </p>
        </div>
        <div class="con-item">
                
                <img src="~/images/mortarboard (1).png" class="home-image" />
            
            
            <p>
                100+ courses
            </p>
        </div>

            <a asp-area="" asp-controller="CorrectCompare" asp-action="Index" class="compareLink">
                <div class="con-item">
            
                <img src="~/images/graduates.png" class="home-image" />
            
            <p>
                Find your course!</p>
                </div>
            </a>

    </div>
    </div>

<!---<a asp-area="" asp-controller="StudentEmail" asp-action="Add" class="nav-link " >Sign Up with your email</a>-->

</body>