@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="Login">
<h3>Login</h3>

<form>
    <label for="adminemail">
        Username:
    </label>
    <input type="email" name="adminemail" id="adminemail" class="form-control" />
    <label for="adminpassword">
        Password:
    </label>
    <input type="password" name="adminpassword" id="adminpass" class="form-control" />
    <br />
    <button type="submit" id="adminlogin" class="btn btn-primary">LOGIN</button>
    </form>
</div>

