@model UniProfileModel

<!--<form mwrhod="Post" asp-action="Delete">


    <label asp-for="UserId"></label>
    <input asp-for="UserId" disabled hidden />

    
     <label asp-for="UniShortname"></label>
    <input asp-for="UniShortname" disabled />


     <label asp-for="UniFullname"></label>
    <input asp-for="UniFullname" disabled hidden />


     <label asp-for="UniDetails"></label>
    <input asp-for="UniDetails" disabled hidden />



    <button type="submit" >Delete</button>



</form>-->



<div class="login-boxs">
  <h2>Login</h2>
  <form method="post" asp-action="Delete">


    <div class="user-boxs">
         <input asp-for="UserId" disabled hidden />
     
    </div>



    <div class="user-boxs">
           <label asp-for="UniShortname"></label>
    <input asp-for="UniShortname" disabled />
         
 
    </div>


    <div class="user-boxs">
      
     <label asp-for="UniFullname"></label>
    <input asp-for="UniFullname" disabled />
   
    </div>


      <div class="user-boxs">
           <label asp-for="UniDetails"></label>
    <input asp-for="UniDetails" disabled  />
     
   
    </div>



     <button type="submit">Delete</button>
   
  </form>
</div>
